exportPattern("^[[:alpha:]]+")
import("dirmult")
import("ggplot2")
importFrom("grDevices", "rainbow")
importFrom("graphics", "barplot", "plot", "legend")
importFrom("stats", "dist", "pchisq", "qchisq", "rmultinom", "sd")
importFrom("foreach", "%dopar%")
importFrom("MASS", "isoMDS", "ginv")
importFrom("vegan", "diversity", "postMDS", "scores", "vegdist")
importFrom("gplots", "heatmap.2")
